* {
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 50px;
    color: white;
}

body {
    margin-top:50px;
    /* background-image: url(../image/5RDCHT.jpg);*/
    /* min-height: 100vh; */
    /* background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background-color: black;
}

p {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.toolbar {
    float: right;
}

.toolbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.toolbar a:hover {
    background-color: #111;
}

#toolbar-pokemon {
    float: left;
}

#toolbar-pokemon a{
    padding-right: 36px;
}

#mini-pokeball {
    position: absolute;
    padding-left:5px;
    padding-right:5px;
    height: 20px;
    width : 20px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.slider{
    margin-top: 10px;
    display: block;
    width:65vw;
    height: 70vh;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    z-index: 0;
}

.slides{
    width: 400vw;
    height: 70vh;
    display: flex;
}

.slides input{
    display:none;
}

.slide {
    width:65vw;
    transition: 2s;
}

.slide img{
    width: 70vw;
    height:70vh;

}

.navigation-manual {
    position:absolute;
    width: 65%;
    display: flex;
    justify-content: center;
    top: 88vh;
}

.manual-btn {
   border: 2px solid white;
   padding: 5px;
   border-radius: 10px;
   cursor:pointer;
   transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right:40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -65vw;
}

#radio3:checked ~ .first{
    margin-left: -130vw;
}

.navigation-auto{
    position: absolute;
    display:flex;
    width: 100px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    display:none;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
}