<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{toolbar.html}">
<head>
    <meta charset="UTF-8">
    <title>Booster</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<section layout:fragment="content">
    <div class="middle-background">
        <div class="booster">
            <form action="/booster" method="post">
                <input th:disabled="${session.myData.money < cost}" type="submit">
            </form>
            <div th:each="card:${cards}">
                <div th:text="${card.name}"></div>
                <img th:src="${card.imageUrl}">
            </div>
        </div>
    </div>
</section>
</body>
</html>