<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page</h1>
    <a th:if="${!logged}" href="/register">register</a>
    <a th:if="${!logged}" href="/login">log in</a>
    <a th:if="${logged}" href="/booster">open booster</a>
    <a th:if="${logged}" href="/logout">log out</a>

    <p>Status zalogowanego <div th:text="${statusInfo}"></div></p>
</body>
</html>