<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <ul>
        <li id="toolbar-pokemon" class="toolbar"><a>THE POKEMON<img id="mini-pokeball" src="../image/pokeball2.png"/></a></li>
        <li class="toolbar"><a th:if="${!logged}" href="/register">Register</a></li>
        <li class="toolbar"><a th:if="${!logged}" href="/login">Log in</a></li>
        <li class="toolbar"><a th:if="${logged}" href="/logout">Log out</a></li>
        <li class="toolbar"><a th:if="${logged}" href="/booster"Open Booster</a></li>
    </ul>

    <p>Status zalogowanego <p th:text="${statusInfo}"></p></p>
</body>
</html>