<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{toolbar.html}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login-style.css}" />
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="middle-background">

            <div class="login-container">
                <span id="login-text">Log in</span>
                <form action="/login" method="post">
                <img src="../image/pokemon-team.jpg" id="team-image">
                <span class="login-text">Email</span><br><input name="username" type="email"/>
                <span class="login-text">Password</span><br><input name="password" type="password"/>
                <input type="submit"/>
                </form>
            </div>
        </div>
    </section>
</body>
</html>