<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Market Buy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="middle-background">
        <ul>
            <li id="toolbar-pokemon" class="toolbar"><a href="/">Home Page<img id="mini-pokeball" src="../image/pokeball2.png"/></a></li>
            <li class="toolbar"><a th:if="${!logged}" href="/register">Register</a></li>
            <li class="toolbar"><a th:if="${!logged}" href="/login">Log in</a></li>
            <li class="toolbar"><a th:if="${logged}" href="/logout">Log out</a></li>
            <li class="toolbar"><a th:if="${logged}" href="/my-cards">My Cards</a></li>
            <li class="toolbar"><a th:if="${logged}" href="/booster">Open Booster</a></li>
            <li class="toolbar"><a th:if="${logged}" href="/market/sell">Sell Cards</a></li>
            <li class="toolbar"><a th:if="${logged}" href="/market/buy">Buy cards</a></li>
        </ul>

        <div th:each="auction:${data.auctions}">
            <div class="market-buy">
                <div th:text="'Seller: ' + ${auction.username}"></div>
                <img th:src="${auction.imageUrl}">
                <div th:text="'Quantity: ' + ${auction.quantity}"></div>
                <div th:text="'Price: ' +${auction.price}"></div>
<!--                <div th:text="${auction.auctionId}"></div>-->
                <form action="/market/buy" th:object="${request}" method="post">
                    <input type="number" name="quantity" min="1"></p>
                    <input type="hidden" name="auctionId" th:value = "${auction.auctionId}" >
                    <input type="submit" value="Buy" th:disabled="${auction.price > data.buyerMoney}">
                </form>
            </div>
        </div>
    </div>
</body>
</html>