<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{toolbar.html}">
<head>
    <meta charset="UTF-8">
    <title>Market Sell</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
    <section layout:fragment="content">
        <div class="middle-background">
            <div th:each="card:${cards.keySet()}">
                <div th:text="${cards.get(card) + 'x'}"></div>
                <img th:src="${card.imageUrl}">
                <form action="/market/sell" th:object="${auctionSellRequest}" method="post">
                    <p>Quantity<input name="quantity" type="number" min="1" th:max="${cards.get(card)}"></p>
                    <p>Price<input name="price" type="number" min="1"></p>
                    <input type="hidden" name="cardId" th:value = "${card.id}" >
                    <input type="submit" value="Sell">
                </form>
            </div>
        </div>
    </section>
</body>
</html>