<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{toolbar.html}">
<head>
    <meta charset="UTF-8">
    <title>Market Buy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
    <section layout:fragment="content">
    <div class="middle-background">
            <div th:each="auction:${data.auctions}">
                <div class="market-buy">
                    <div th:text="'Seller: ' + ${auction.username}"></div>
                    <img th:src="${auction.imageUrl}">
                    <div th:text="'Quantity: ' + ${auction.quantity}"></div>
                    <div th:text="'Price: ' +${auction.price}"></div>
    <!--                <div th:text="${auction.auctionId}"></div>-->
                    <form action="/market/buy" th:object="${request}" method="post">
                        <input type="number" name="quantity" min="1" placeholder="Quantity" th:max="${auction.quantity}"></p>
                        <input type="hidden" name="auctionId" th:value = "${auction.auctionId}" >
                        <input type="submit" value="Buy" th:disabled="${auction.price > data.buyerMoney}">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>