<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Cards</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="middle-background">
        <ul>
            <li id="toolbar-pokemon" class="toolbar"><a href="/">Home Page<img id="mini-pokeball" src="../image/pokeball2.png"/></a></li>
            <li class="toolbar"><a th:if="${!logged}" href="/register">Register</a></li>
            <li class="toolbar"><a th:if="${!logged}" href="/login">Log in</a></li>
            <li class="toolbar"><a th:if="${logged}" href="/logout">Log out</a></li>
            <li class="toolbar"><a th:if="${logged}" href="/my-cards">My Cards</a></li>
            <li class="toolbar"><a th:if="${logged}" href="/booster">Open Booster</a></li>
            <li class="toolbar"><a th:if="${logged}" href="/market/sell">Sell Cards</a></li>
            <li class="toolbar"><a th:if="${logged}" href="/market/buy">Buy cards</a></li>
        </ul>

        <div th:each="card:${cards.keySet()}">
            <div th:text="${card.name}"></div>
            <img th:src="${card.imageUrl}">
            <div th:text="${cards.get(card) + 'x'}"></div>
        </div>
    </div>
</body>
</html>