<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form th:object="${user}" action="/register" method="post">
        <p>Email<input th:field="${user.email}" name="email" type="email"/></p><p th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
        <p>Password<input th:field="${user.password}" name="password" type="password"/></p><p th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
        <input type="submit"/>
    </form>

</body>
</html>